<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nigera.paintapplication">
<!--    https://guides.codepath.com/android/Basic-Painting-with-Views-->
<!--    https://stackoverflow.com/questions/16560846/erase-functionality-in-android-finger-paint-->
<!--    https://www.google.com/search?client=safari&rls=en&q=eraser+for+paint+lines+only+in+andori+djava&ie=UTF-8&oe=UTF-8-->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>